# --- DOOM SOURCE & BINARIES ---
# We don't want to host the engine code, just our scripts
src/

# --- GAME DATA ---
# WAD files are copyrighted; users must download their own (or use our script)
wads/
*.wad
*.WAD

# --- COMPILATION JUNK ---
# These are generated during the 'make' process
*.o
*.a
*.so
config.log
config.status
Makefile.in

# --- TERMUX / SYSTEM ---
# Ignore any hidden system files
.DS_Store
.thumbnails/
node_modules/
